altgraph==0.16.1
appdirs==1.4.3
attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.8.0
black==19.10b0
bs4==0.0.1
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
confapp==1.1.11
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
defusedxml==0.6.0
dill==0.3.1.1
docopt==0.6.2
et-xmlfile==1.0.1
filelock==3.0.12
future==0.18.2
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
infi.unittest==1.1.0
jdcal==1.4.1
lxml==4.4.1
munch==2.3.2
natsort==6.0.0
oauthlib==3.1.0
Orquestra==1.4
pandas==0.25.3
parsel==1.5.2
pathspec==0.6.0
pefile==2019.4.18
pipreqs==0.4.10
Protego==0.1.15
psutil==5.6.5
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyHamcrest==1.9.0
PyOpenGL==3.1.0
pyOpenSSL==19.1.0
pyparsing==2.4.2
python-dateutil==2.8.0
python-dotenv==0.10.3
python3-openid==3.1.0
pytz==2019.2
QScintilla==2.11.2
queuelib==1.5.0
regex==2019.12.20
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
sentinels==1.0.0
service-identity==18.1.0
simplejson==3.16.0
six==1.12.0
sorl-thumbnail==12.5.0
soupsieve==1.9.3
sqlparse==0.3.0
toml==0.10.0
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.25.8
virtualenv==16.7.7
visvis==1.11.2
vk-api==11.6.1
w3lib==1.21.0
webencodings==0.5.1
xlrd==1.2.0
yarg==0.1.9
zope.interface==4.7.1